NODE_ENV=production
API_PORT=23001
FRONTEND_PORT=24000
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=distroviz
POSTGRES_PASSWORD=distrovizpw
POSTGRES_DB=distrovizdb
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_CACHE_TTL=300
VITE_API_URL=http://localhost:23001/api